.switch {
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0.1vw;
    left: -6.5vw;
    right: 0;
    bottom: 0;
    background-color: black;
    width: 4.1vw;
    height: 2vw;
    border: 2px solid #ccc;
    margin-right: 5vw;
}

.slider:before {
    position: absolute;
    content: "";
    height: 78%;
    width: 34%;
    left: 0.1vw;
    bottom: 0.18vw;
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(226, 190, 32);
}

input:checked+.slider:before {
    -webkit-transform: translateX(2.3vw);
    -ms-transform: translateX(2.3vw);
    transform: translateX(2.3vw);
    background-color: rgb(226, 190, 32);
}

/* Rounded sliders */
.slider.round {
    /* border-radius: 34px; */
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
    .switch {
        width: 60px;
        height: 15px;
    }

    .slider {
        width: 43px;
        height: 22.5px;
        left: 20px
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    .slider:before {
        height: 16px;
        width: 16px;
        bottom: 0.3vw;
        left: 0.25vw;
    }

    .inputSlider {
        height: 2px;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 700px) and (orientation: landscape) {
    .switch {
        width: 60px;
        height: 15px;
    }

    .slider {
        width: 42px;
        height: 22px
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
    }

    .slider:before {
        height: 16px;
        width: 16px;
        bottom: 0.2vw;
        left: 0.2vw
    }

    .inputSlider {
        height: 10px;
    }

    /* .labelText {
        margin-left: 30px;
    } */

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .slider {
        height: 4vw;
        width: 9vw;
    }

    .slider:before {
        height: 3vw;
        width: 3vw;
        left: 0.3vw;
        bottom: 0.3vw;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(4.8vw);
        -ms-transform: translateX(4.8vw);
        transform: translateX(4.8vw);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .slider {
        height: 3vw;
        width: 6vw;
    }

    .slider:before {
        height: 2vw;
        width: 2vw;
        left: 0.3vw;
        bottom: 0.3vw;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(3.2vw);
        -ms-transform: translateX(3.2vw);
        transform: translateX(3.2vw);
    }
}