.parentCheatMenu .keyModalWindow {
    background-color: rgb(37 33 33 / 95%);
    position: absolute;
    top: 0%;
    color: #fff;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(20%, 10%);

}



.keyModalWindow:hover {
    background: rgb(69 64 64 / 100%);
}

.parentCheatMenu {
    position: relative;
}

.parentCheatMenu .child {
    background-color: rgba(197, 194, 203, 0.95);
    /* box-shadow: 2px 3px 5px 10px #f6f5f5; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    padding: 20px;
    width: 90%;
    transform: translate(-50%, 20%);
    border: 2px solid #2c2b2b;
}

.parentCheatMenu .title {
    text-align: center;
    margin-bottom: 10%;
}

.parentCheatMenu .closeBtn {
    border: 1px solid #fff;
    width: 10%;
    height: 40px;
    border-radius: 50%;
    transform: translate(450%, 30%);
    text-align: center;
    color: #fff;
    font-size: large;
    background-color: rgba(218, 32, 32, 0.5);
}

.parentCheatMenu .closeBtn:hover {
    color: #fff;
    background: rgb(69 64 64 / 100%);
}

.parentCheatMenu .btnParen {
    width: 100%;
    text-align: center;
}

.parentCheatMenu .btn {
    color: #fff;
    border: 1px solid #fff;
    width: 31%;
    text-align: center;
    margin-left: 2%;
    font-size: small;


}

.parentCheatMenu .btn:hover {
    color: #fff;
    background: rgb(69 64 64 / 100%);
}

.submit {
    background: rgb(2, 128, 15);
}

.generic {
    background: rgb(79, 82, 79);
}





.parentCheatMenu .selectBoxCheat {
    width: 100%;
    margin-bottom: 4%;
    padding: 6px;
    height: 20%;
    color: rgb(27, 25, 25);
}

.parentCheatMenu .textBoxCheat {
    width: 100%;
    margin-bottom: 4%;
    padding: 6px;
}

.parentCheatMenu .selectBoxCheat option {
    color: #888888;
    margin-left: 20%;
}

.parentCheatMenu .selectBoxCheat option:hover {
    color: green;
    margin-left: 15%;
}

@media screen and (min-width: 480px) {
    @media (orientation: landscape) and (min-width: 909px) {
        .parentCheatMenu .child {
            width: 25%;
        }

        .parentCheatMenu .keyModalWindow {
            transform: translate(0%, 20%);
        }

        .parentCheatMenu .closeBtn {
            border: 1px solid #fff;
            width: 10%;
            height: 40px;
            border-radius: 50%;
            transform: translate(450%, 30%);
            text-align: center;
            color: #fff;
            font-size: large;
            background-color: rgba(218, 32, 32, 0.5);
        }

        .parentCheatMenu .btn {
            font-size: large;
        }
    }

    @media (orientation: landscape) and (max-width: 909px) {
        .parentCheatMenu .child {
            width: auto;
        }

        .parentCheatMenu .closeBtn {
            border: 1px solid #fff;
            width: 25%;
            height: 55px;
            border-radius: 50%;
            transform: translate(150%, 50%);
            text-align: center;
            color: #fff;
            background-color: rgb(69 64 64 / 50%);
        }
    }

}
