.historyMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyHeading {
    position: absolute;
    text-decoration: underline;
    font-size: 2.5vw;
    top: 1vw;
    color: rgb(226,190,32);
    font-family: "MYP Bold";
}

.historyContentDiv {
    display: flex;
    margin-top: 2vw;
    gap: 10vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
    .historyHeading {
        font-size: 6vw;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    .historyHeading {
        font-size: 4vw;
    }
}

@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) and (orientation: portrait) {
    .historyHeading {
        font-size: 6vw;
    }
}