* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuWrapper {
    width: 50vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.menuPanel {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    color: white;
    font-size: 1vw;
    width: 50vw;
    height: 50vw;
    border-radius: 20px;
}

.menuContent {
    font-size: 1.6vw;
    width: 90%;
    margin: auto;
    overflow-y: auto;
    height: 38vw;
    padding: 1vw;
    margin-top: 5vw;
}

.menuIcons {
    display: flex;
    background-color: black;
    top: 45vw;
    gap: 12vw;
    position: absolute;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    justify-content: center;
    border-top: 2px solid white;
}

.menuIcons>svg {
    height: 4vw;
    width: 4vw;
    color: darkgray;
}

.menuIcons>svg:hover {
    color: white;
    cursor: pointer;
}

.active {
    color: white !important;
}


.closeButton {
    position: absolute;
    right: -18vw;
    bottom: 20vw;
}

.closeButton>button>svg {
    width: 10vw;
    height: 10vw;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
    .menuPanel {
        background-color: rgba(0, 0, 0, 0.85);
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        left: 0;
        top: 0;
    }

    .menuIcons {
        gap: 20vw;
        top: auto;
        bottom: 5vw;
        width: 100%;
        border-top: 2px solid white;
    }

    .menuIcons>svg {
        height: 10vw;
        width: 10vw;
        margin-top: 5vw
    }

    .menuContent {
        font-size: 5vw;
        height: 75vh;
        margin-top: 10vw;
    }

    .closeButton {
        left: 45vw;
        bottom: 22vw;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
    .menuPanel {
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .menuIcons {
        gap: 20vw;
        top: auto;
        bottom: 2vw;
        width: 100%;
        border-top: 2px solid white;
    }

    .menuContent {
        font-size: 2vw;
        width: 60%;
        margin-top: 7vw;
    }

    .closeButton {
        right: 5vw;
        bottom: 28vw;
    }

    .menuIcons>svg {
        height: 6vw;
        width: 6vw;
        margin-top: 1vw
    }
}

@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) and (orientation: portrait) {
    .menuPanel {
        background-color: rgba(0, 0, 0, 0.85);
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        left: 0;
        top: 0;
    }

    .menuIcons {
        gap: 20vw;
        top: auto;
        bottom: 4vw;
        width: 100%;
        border-top: 2px solid white;
    }

    .menuIcons>svg {
        height: 10vw;
        width: 10vw;
        margin-top: 5vw
    }

    .menuContent {
        font-size: 3vw;
        height: 75vh;
        margin-top: 8vw;
    }

    .closeButton {
        left: 45vw;
        bottom: 14vw;
    }

    .menuIcons>svg {
        height: 8vw;
        width: 8vw;
        margin-top: 2vw;
    }

}

@media only screen and (min-device-width: 668px) and (max-device-width: 1023px) and (orientation: landscape) {
    .menuPanel {
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .menuIcons {
        gap: 20vw;
        top: auto;
        bottom: 1vw;
        width: 100%;
        border-top: 2px solid white;
    }

    .closeButton {
        right: 6vw;
        bottom: 20vw;
    }

    .menuIcons>svg {
        margin-top: 1vw
    }

    .menuContent {
        font-size: 2vw;
        width: 65%;
        margin-top: 5vw;
        height: 34vw;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .menuPanel {
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 0;
        width: 100vw;
        height: 100%;
        left: 0;
    }

    .menuIcons {
        gap: 20vw;
        top: auto;
        bottom: 1vw;
        width: 100%;
        border-top: 2px solid white;
    }

    .closeButton {
        right: 3vw;
        bottom: 30vw;

    }

    .menuIcons>svg {
        margin-top: 1vw;
    }

    .closeButton>button>svg {
        width: 10vw;
        height: 10vw;
    }

    .menuContent {
        font-size: 2vw;
        width: 65%;
        margin-top: 5vw;
        height: 80%;
    }

}