* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.rangeSliderDiv::-webkit-scrollbar {
  display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* For small window on desktop */
.smallWindowDiv {
  height: 100vh;
  overflow: scroll;
}

.autoPlayHeading {
  justify-content: center;
  display: flex;
  font-size: 2.5vw;
  color: #e2be20;
  text-decoration: underline;
  font-weight: bold;
}

.rangeSliderDiv {
  /* background-image: url('../../../../public/HD/assets/autoplay/popup_black.webp'); */
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}

.buttonDiv {
  display: flex;
  justify-content: flex-start;
  margin: 2vw 0vw;
  gap: 0.8vw;
}


.autoPlayBtn {
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.8vw;
  background-Color: rgb(128, 128, 128);
  color: white;
  width: 5.5vw;
}

.autoPlayBtn:focus:enabled {
  background-color: rgb(226, 190, 32);
  color: white;
}

.autoPlayBtn:disabled {
  background-color: gray;
  color: white;
}

.autoPlayBtnClicked {
  background-color: rgb(226, 190, 32) !important;
  color: black !important;
}

.startAutoPlayBtn,
.cancelBtn {
  font-weight: bold;
  border-radius: 40px;
  color: white;
  height: 2.8vw;
  width: 7.5vw;
}

.cancelBtn {
  background-color: #930000;
}

.startAutoPlayBtn {
  background-color: #15560f;
}


.startAutoPlayBtn:enabled {
  background-color: #165f0f;
  color: white;
}

.autoPlaySwitchBtn {
  display: flex;
  width: 100%;
  gap: 21vw;
}

.sliderDiv {
  margin-top: 2vw;
  margin-left: 1vw
}

.startAutoPlayBtnDiv {
  display: flex;
  gap: 3vw;
  margin: 3vw 2vw 3vw 0;
  justify-content: center;
}

.autoPlayMainDiv {
  color: white;
  font-size: 1.4vw;
  width: fit-content;
  margin: auto;
}

#stop-autoplay {
  margin-bottom: 1vw;
}

.autoPlaySwitchBtn span {
  font-weight: bold;
  color: #fff;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
  .rangeSliderDiv {
    width: 100%;
    display: block;
  }

  .autoPlaySwitchBtn {
    width: 90%;
    margin: auto;
    gap: 3rem
  }

  .autoPlayHeading {
    font-size: 2rem;
  }

  .autoPlayMainDiv {
    font-size: 1rem;
    margin-top: 12vw;
  }

  .buttonDiv {
    margin: 6vw;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .autoPlayBtn {
    border-radius: 15px;
    font-size: 1.2rem;
    width: 16vw;
  }

  .sliderDiv {
    margin: 2vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  .startAutoPlayBtnDiv {
    margin-top: 7vw;
  }

  .startAutoPlayBtn,
  .cancelBtn {
    border-radius: 15px;
    height: 9vw;
    width: 22vw;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 667px) and (orientation: portrait) {
  .autoPlayMainDiv {
    width: 100%;
    font-size: 1rem;
  }

  .rangeSliderDiv {
    max-width: none;
    width: 65%;
    top: 8vw;
  }

  .autoPlayBtn {
    border-radius: 8px;
    font-size: 1.4rem;
    background-Color: rgb(26, 26, 26);
  }

}

@media only screen and (min-device-height : 740px) and (max-device-height : 950px) and (orientation: portrait) {
  .autoPlayMainDiv {
    margin-top: 27vw;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation: landscape) {
  /* .rangeSliderDiv {
    width: 80%;
    left: 11vw;
  } */

  .autoPlayMainDiv {
    font-size: 1rem;
    width: auto;
    scale: 0.9;
    margin-top: -10px;
  }

  .autoPlayBtn {
    border-radius: 15px px;
    font-size: 1.2rem;
    width: 9vw;
  }

  .inputSlider {
    height: 2px;
  }

  .autoPlayHeading {
    font-size: 1.5rem;
  }

  .cancelBtn,
  .startAutoPlayBtn {
    width: 12vw;
    height: 5.5vw;
  }

  .buttonDiv {
    gap: 1.8vw;
  }

  .autoPlaySwitchBtn {
    gap: 30.5vw
  }

  .sliderHeaderMob{
    grid-template-columns: 70% 25%;
  }

}

@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) and (orientation: portrait) {
  .autoPlayMainDiv {
    width: fit-content;
    ;
    margin-top: 15%;
    font-size: 3vw;
  }

  .autoPlayHeading {
    font-size: 2.5rem;
  }

  .autoPlayBtn {
    font-size: 1.3rem;
    width: 10vw;
    height: 5vw;
  }

  .buttonDiv {
    margin: 4vw 0;
  }

  .autoPlaySwitchBtn {
    margin-top: 5vw;
    gap: 20.5vw;
  }

  .sliderDiv {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
  }

  .inputSlider {
    height: 2px;
  }

  .cancelBtn,
  .startAutoPlayBtn {
    font-size: 1.2rem;
    width: 14vw;
    height: 6vw
  }
}

@media only screen and (min-device-width: 668px) and (max-device-width: 1023px) and (orientation: landscape) {
  .autoPlayMainDiv {
    font-size: 1rem;
    scale: 0.9;
  }

  .sliderHeaderMob {
    grid-template-columns: 70% 30%;
  }

  .autoPlaySwitchBtn {
    gap: 25.5vw
  }

  .startAutoPlayBtnDiv {
    margin: 2vw;
  }

  .sliderDiv {
    margin-top: 0;
  }

  .autoPlayBtn {
    font-size: 1rem;
    width: 7vw;
    height: 3vw;
  }

  .cancelBtn,
  .startAutoPlayBtn {
    font-size: 1rem;
    width: 11vw;
    height: 4vw
  }

  .sliderHeaderMob{
    grid-template-columns: 70% 25%;
  }
}

@media only screen and (min-device-width: 933px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .rangeSliderDiv {
    width: 100%;
    left: 0%;
  }

  .autoPlayMainDiv {
    font-size: 2.2vw;
    width: fit-content;
    overflow: auto;
    margin-top: 5vw;
    scale: 0.8;
  }

  .buttonDiv {
    justify-content: flex-start;
    margin: 3vw 0;
  }

  .autoPlayBtn {
    font-size: 1.2rem;
    width: 7vw;
    height: 5vh;
  }

  .autoPlayHeading {
    font-size: 2.5rem;
  }

  .inputSlider {
    height: 2px;
  }

  .cancelBtn,
  .startAutoPlayBtn {
    width: 11vw;
    height: 5vw;
  }

}

@media only screen and (device-width : 720px) and (device-height : 540px) and (orientation: landscape) {
  .autoPlayMainDiv {
    margin-top: 10vw;
  }
}

@media only screen and (device-width : 768px) and (orientation: landscape) {
  .autoPlayMainDiv {
    margin-top: 10vw;
  }

  .autoPlayMainDiv {
    height: 310px;
  }
}

